::selection {
  background-color: #557c93;
  color: #fff;
}
::-moz-selection {
  background-color: #557c93;
  color: #fff;
}

.theme-color {
  color: #557c93;
}

.theme-after-bg:after,
.btn-theme,
.theme-bg {
  background: #557c93;
}

.btn-theme {
  border-color: #557c93;
}

/* 
*********
  Profile Image:
*********
*/
.profile-composition {
  position: relative;
  display: inline-block; /* Ensure the container wraps around the image */
}

.profile-composition__photo {
  width: 100%; /* Make the image responsive to its container */
  max-width: 350px; /* Set a max-width to control the image size */
  box-shadow: 0 1.5rem 4rem rgba(0, 0, 0, 0.4);
  border-radius: 10%; /* Adjust the border-radius as needed */
  position: relative; /* Change to relative to keep it in place */
  z-index: 10;
  transition: all 0.2s;
  outline-offset: 1rem; /* Adjust this for the outline offset */
}

.profile-composition__photo:hover {
  outline: 1.5rem solid #415a77; /* Blue outline on hover */
  transform: scale(1.05); /* Slight scale on hover */
  box-shadow: 0 2.5rem 4rem rgba(0, 0, 0, 0.5); /* Enhanced shadow on hover */
  z-index: 20;
}

.profile-composition:hover .profile-composition__photo:not(:hover) {
  transform: scale(1); /* Keep the scale normal for non-hover state */
}

@keyframes spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.icon {
  transition: color 0.3s ease; /* Smooth transition for color change */
}

.icon:hover {
  animation: spin 0.5s linear 1; /* Play the spin animation once */
}

.portfolio-hover-01 .action-btn a:hover,
.portfolio-filter li:hover,
.portfolio-filter li.active,
.owl-dots .owl-dot.active,
.m-btn-theme,
.title-section h2:after,
.m-btn-white:hover,
.theme-after:after,
.theme-g-bg {
  background: #557c93;
  background: -webkit-linear-gradient(to left, #08203e, #557c93);
  background: linear-gradient(to left, #08203e, #557c93);
}

/*Reverce*/
.m-btn-theme:hover {
  background: #0072ff;
  background: -webkit-linear-gradient(to left, #557c93, #08203e);
  background: linear-gradient(to left, #557c93, #08203e);
}

.home-banner .avtar-img,
.m-btn-theme:hover,
.m-btn-white:hover {
  box-shadow: 0px 15px 20px rgba(5, 117, 230, 0.4);
}

@media (max-width: 991px) {
  .header {
    background: #557c93;
  }
}
