::selection {
  background-color: #557c93;
  color: #fff;
}
::-moz-selection {
  background-color: #557c93;
  color: #fff;
}

.theme-color {
  color: #557c93;
}

.theme-after-bg:after,
.btn-theme,
.theme-bg {
  background: #557c93;
}

.btn-theme {
  border-color: #557c93;
}

.profile_img {
  width: 100%; /* Make the image responsive */
  max-width: 350px; /* Set a maximum width for the image */
  height: auto; /* Maintain aspect ratio */
  position: relative;
  overflow: hidden;
  border-radius: 10%;
  filter: blur(2.5px); /* Apply a blur effect by default */
  transition: filter 0.3s ease; /* Smooth transition for the blur effect */
}

.profile_img:hover {
  filter: blur(0); /* Remove the blur effect on hover */
}

@keyframes spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.icon {
  transition: color 0.3s ease; /* Smooth transition for color change */
}

.icon:hover {
  animation: spin 0.5s linear 1; /* Play the spin animation once */
}

.portfolio-hover-01 .action-btn a:hover,
.portfolio-filter li:hover,
.portfolio-filter li.active,
.owl-dots .owl-dot.active,
.m-btn-theme,
.title-section h2:after,
.m-btn-white:hover,
.theme-after:after,
.theme-g-bg {
  background: #557c93;
  background: -webkit-linear-gradient(to left, #08203e, #557c93);
  background: linear-gradient(to left, #08203e, #557c93);
}

/*Reverce*/
.m-btn-theme:hover {
  background: #0072ff;
  background: -webkit-linear-gradient(to left, #557c93, #08203e);
  background: linear-gradient(to left, #557c93, #08203e);
}

.home-banner .avtar-img,
.m-btn-theme:hover,
.m-btn-white:hover {
  box-shadow: 0px 15px 20px rgba(5, 117, 230, 0.4);
}

@media (max-width: 991px) {
  .header {
    background: #557c93;
  }
}
